.preview {
  background-color: #FFFBEB;
  width: 600px;
  min-height: 400px;
  margin: 4rem;
  border-radius: 5px;
  border: 5px dotted #ccc;
  font-size: 20px;
  width: 600px;
  font-family: inherit;
/*   display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; */
}

.preview p {
  min-height: 50px;
  width: 100%;
  padding: 10px;
  color: black;
  border-bottom: 1px dotted #ccc;
  border-radius: 5px;
}

.preview span {
  font-family: 'Marck Script', cursive;
}

/* .lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 400px;
  margin-left: 40px;
} */
