.overlay {
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  width: 400px;
  height: auto;
  padding: 1rem;
  position: relative;
}

.popup p {
  padding: 1rem 0;
  color: black;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
