* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #495579;
}

button {
  font-family: inherit;
  font-size: inherit;
  width: 280px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #263159;
  cursor: pointer;
}

button:hover {
  background-color: #e96479;
}

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

p {
  color: white;
}
